.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.auth-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem;
}
