.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./imgs/home.jpg") no-repeat center center/cover;
}

.auth-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem;
  padding: 1rem;
}
