.user-components_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-component_card {
  width: 20rem;
  height: 20rem;
  border: 0.3rem solid rgb(206, 213, 238);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  text-decoration: none;
  cursor: pointer;
}

.user-component_card:hover {
  background-color: rgb(236, 232, 232);
}

.user-component_title {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgb(206, 213, 238);
  padding: 2rem 1rem;
  border-radius: 2rem;
  text-align: center;
  width: fit-content;
  color: rgb(19, 6, 48);
}
