:root {
  --main-color: #ac617dbd;
}

.user-components_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 7rem;
  background: url("./imgs/usercover.jpg") no-repeat center center/cover;
}

.user-component_card {
  width: 20rem;
  height: 20rem;
  border: 0.3rem solid var(--main-color);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem gray;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.575);
}

.user-component_card:hover {
  background-color: white;
  border-color: rgb(100, 13, 67);
}

.user-component_title {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 2rem 1rem;
  border-radius: 2rem;
  text-align: center;
  width: fit-content;
  color: rgb(73, 7, 48);
}
