.categories-page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: light;
}

.categories_container {
  display: flex;
}

.categories_container > a {
  width: 20vw;
  height: 35vh;
  text-align: center;
  border: 0.1rem solid rgba(59, 5, 41, 0.445);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem gray;
  background-color: #19073a;
  text-decoration: none;
  color: whitesmoke;
}

.categories_container > a:hover {
  background-color: #19073aa8;
  color: #ee0d89;
}

.categories-cards {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 2rem;
}
