.categories-page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  background-color: lightgray;
}

.categories_container {
  display: flex;
}

.categories_container > a {
  width: 20vw;
  height: 35vh;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem gray;
  background-color: #19073a;
  text-decoration: none;
  color: whitesmoke;
}

.categories_container > a:hover {
  color: #19073a;
  background: url("./imgs/buttondcover.jfif") no-repeat center center/cover;
}

/* .categories_container .buttons:hover {
  background: url("./imgs/buttondcover.jfif") no-repeat center center/cover;
} */

.categories-cards {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 2rem;
}

/* .buttons {
  background: url("./imgs/buttondcoverdark.jfif") no-repeat center center/cover;
  background-color: transparent;
} */

/* .btn-title {
  background-color: #ffffff4f;
} */
