.styled-component_button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.tools-page-container {
  min-height: 100vh;
  padding-top: 6rem;
}
