.navbar-container {
  height: 4rem;
  background-color: #19073a;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(80, 78, 78);
  color: #f5b937;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: bold;
}

.navbar-container div {
  margin-top: 0.2rem;
  padding: 0.7rem;
}

.navbar-container a:hover {
  background-color: #524a5f;
  color: #ee0d89;
}

.navbar-container a {
  text-decoration: none;
  color: #f5b937;
  padding: 1rem;
  border-radius: 1rem;
}
