:root {
  --main-color: #ac617d;
}

.navbar-container {
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.74);
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(80, 78, 78);
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar-container div {
  margin-top: 0.2rem;
  padding: 0.7rem;
}

.profile-btn {
  margin-right: 4rem;
  color: var(--main-color);
}

.navbar-container a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}

.navbar-container a:hover {
  color: var(--main-color);
}

.navbar-container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
}

.navbar-container a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  right: 0;
  top: 0;
  background-color: var(--main-color);
}

a::after {
  content: "";
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.5s ease;
}

a::before {
  content: "";
  transform: scale(0, 1);
  transform-origin: 100% 0%;
  transition: transform 0.5s ease;
}

a:hover::after {
  transform: scale(1, 1);
}

a:hover::before {
  transform: scale(1, 1);
}
