:root {
  --main-color: #ac617dc0;
}

.component-style_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  background-color: lightgray;
  min-height: 100vh;
  padding-top: 7rem;
}

.component-style_cards_container a {
  width: 16vw;
  height: 35vh;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 1rem 1rem 1rem grey;
  background-color: var(--main-color);
  text-decoration: none;
  color: whitesmoke;
}

.component-blue_card {
  background: url("./imgs/card1.jpg") no-repeat center center/cover;
}

.component-round_card {
  background: url("./imgs/card2.jpg") no-repeat center center/cover;
}
